<configuration>
    <appSettings>
        <add key="Bla" value="Blub" />
    </appSettings>
    <connectionStrings>
        <add name="CompanyDatabase" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=DataSource;Integrated Security=SSPI;" />
    </connectionStrings>
</configuration>